@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<head>
    <link href="~/css/our-services-section.css" rel="stylesheet">
</head>

<section class="services-section pt-5 border">
    
    <div class="container">

        <h5 class="section-title color-coral">@Model.Value("ourServicesSectionTag")</h5>

        <h1 class="pb-4">@Model.Value("ourServicesSectionHeading")</h1>

        <div class="services-boxes">
             @Html.GetBlockListHtml(Model.OurServices)  
        </div>

        
        <div class="browse-services pt-4">
            <a class="btn-outline" href="@Model.Value("ourServicesSectionButtonURL")">@Model.Value("ourServicesSectionButtonLabel")<i class="fa-solid fa-arrow-up-right"></i></a>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <img src="~/static/background-effects/background-lines-right.svg" alt="">
    </div>

</section>
