@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<head>
    <link href="~/css/services-features-section.css" rel="stylesheet">
</head>

<section class="feature-section container">
    <div class="section-border">
        <div class="left">
            <div class="section-title">@Model.Value("servicesFeaturesSectionTag")</div>
            <h2 class="pb-4">@Model.Value("servicesFeaturesSectionHeading")</h2>
            <a class="btn-theme border" href="@Model.Value("servicesFeaturesSectionButtonURL")">@Model.Value("servicesFeaturesSectionButtonLabel")<i class="fa-solid fa-arrow-up-right"></i></a>
        </div>      
 
        <div class="right feature-box">
            @Html.GetBlockListHtml(Model.ServicesFeatures)      
        </div>
    </div>
</section>